extends layout

block content
  h1= title
  p Welcome to my third Express and Socket.IO experiment. This set of pages was created while watching the Linkedin Learning course "Express Essential Training".
  p The site uses the following packages:
  ol
    li Nodemon to update the running express server with changes.
    li Socket.IO for synchronous communication between clients.
  
  p The site uses these additional resources:
  ol
    li Mock data from mockaroo. A thousand rows of user data.
