extends layout

block content
  h1= title
  p Welcome to my third Express and Socket.IO experiment. This set of pages was created while watching the Linkedin Learning course "Express Essential Training".
